//! =============FIRST-PAGE (start)=============

.first-page {
  height: 100vh;
  position: relative;
  z-index: 1;
  padding-left: calcFluidSizeWidth(90, 142, 1050, 1920);

  &__heading {
    margin-top: calcFluidSizeHeight(
      155,
      265,
      812,
      1920
    ); //? 265 (1920) - 155 (812) "vh"
    display: inline-block;

    h1 {
      text-transform: uppercase;
      width: calcFluidSizeWidth(304, 628, 375, 1920); //? 628px - 304px
      display: inline-block;
      margin: 0 0 calcFluidSizeWidth(20, 45, 375, 1920);
    }

    .button {
      height: calcFluidSizeWidth(60, 82, 375, 1920); //? 82 - 60
      line-height: calcFluidSizeWidth(60, 82, 375, 1920); //? 82 - 60
      width: 272px;
    }
  }

  .social-links {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calcFluidSizeWidth(90, 142, 1050, 1920); //? 142 (1920) - 90 (1050);
    height: calcFluidSizeWidth(180, 210, 1280, 1920);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    backdrop-filter: blur(8px);

    .social-link {
      display: inline-block;
      color: white;
      font-weight: bold;
      transform: rotate(180deg);
      writing-mode: vertical-lr;

      &:hover {
        color: $prime-color;
      }
    }
  }

  .structure {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: flex;
    height: calcFluidSizeWidth(180, 210, 1280, 1920);
    margin-left: calcFluidSizeWidth(
      90,
      142,
      1050,
      1920
    ); //? 142 (1920) - 90 (1050);

    .titles {
      flex: 0 2 80%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(3px);

      .title-box {
        cursor: pointer;
        flex: 0 1 auto;
        transition: 300ms;
        padding: calcFluidSizeHeight(20, 40, 800, 1080)
          calcFluidSizeWidth(35, 70, 1050, 1920); //? 40px (1080) - 20px (800) | 70px (1920) - 35px (1050)

        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
          background-color: rgba(128, 128, 128, 0.5);
        }

        span {
          color: $prime-color;
          font-weight: bold;
          line-height: 117%;
        }

        h4 {
          margin-top: 15px;
          margin-bottom: 10px;
        }

        p {
          color: $grey-color;
        }

        &._active {
          background-color: rgba(221, 34, 65, 0.5);

          span {
            color: white;
          }

          p {
            color: lightgrey;
          }
        }
      }
    }

    .beach-video-wrapper {
      flex: 0 1 20%;
      position: relative;

      #beach-video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .main-play-button {
        @include play-button(
          calcFluidSizeWidth(78, 60, 375, 1920),
          white,
          $prime-color,
          20px,
          black,
          white
        );
      }
    }
  }
}

@media (max-width: 1051px) {
  .first-page {
    height: 100%;
    padding: 0 calc(16vw - 30px); //? 278px - 30px

    &__heading {
      margin-left: 0;
      margin-bottom: 55px;
      display: block;

      .button {
        width: 100%;
        height: 60px;
        line-height: 55px;
      }

      .social-links {
        position: fixed;
        backdrop-filter: none;
        height: 170px;
      }
    }

    .structure {
      flex-direction: column;
      position: static;
      margin-bottom: calc(16vw - 30px); //? 278px - 30px
      margin-left: 0;
      height: 100%;

      .titles {
        flex-direction: column;
        height: 100%;
        margin: 0;
      }

      .beach-video-wrapper {
        height: 100%;
      }
    }
  }
}

@media (max-width: 580px) {
  .slider-details {
    display: none !important;
  }

  .social-links {
    display: none !important;
  }
}

@media (max-height: 450px) {
  .slider-details {
    display: none !important;
  }
}

//! =============FIRST-PAGE (end)=============
