header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 90px;

  display: flex;
  gap: 20px;
  align-items: center;
  background-color: transparent;

  backdrop-filter: blur(2px);
  padding-left: 40px;
  padding-right: calcFluidSizeWidth(30, 278, 375, 1920); //? 278px - 30px
  transition: 1s;

  &._scrolled {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header-logo {
    // margin-right: 20px;
    margin-bottom: 10px; //? центрирование (особенность логотипа)
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  .icon-explore-indonesia {
    &::before {
      font-size: 158px;
      line-height: 90px;
      transition: 300ms;
    }

    &:hover {
      &::before {
        color: $prime-color;
      }
    }
  }

  .header__buttons {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    .search-wrapper {
      cursor: pointer;
      margin-right: 40px;
      position: relative;

      .icon-search-icon {
        &::before {
          font-size: 20px;
        }

        &:hover {
          &::before {
            color: $prime-color;
          }
        }
      }

      #search-input {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        z-index: 5;
        background-color: white;
        position: fixed;
        top: 90px;
        right: 0;
        border: 1px solid $prime-color;
        width: 300px;
        padding: 10px;
        font-size: 18px;
        font-family: 'DM Sans';
        transition: 300ms;

        &::placeholder {
          font-size: 18px;
        }

        &._active {
          visibility: visible;
          opacity: 1;
          pointer-events: all;
          right: calcFluidSizeWidth(30, 278, 375, 1920);
        }
      }
    }

    //? BURGER MENU (beginning) */
    .menu__icon {
      cursor: pointer;
      height: 18px;
      width: 30px;
      position: relative;

      &:hover {
        & span,
        &::before,
        &::after {
          background-color: $prime-color;
        }
      }

      &:not(:hover, :active) {
        & span,
        &::before,
        &::after {
          background-color: white;
        }
      }

      & span,
      &::before,
      &::after {
        position: absolute;
        left: 0;
        display: inline-block;
        background-color: white;
        height: 2px;
        width: 100%;
        transition: all 0.3s ease 0s;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      &::before {
        content: '';
        top: 0;
      }

      &::after {
        content: '';
        bottom: 0;
      }

      &._active span {
        transform: scale(0) translate(0px, -50%);
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }
    }

    //? BURGER MENU (end) */
  }

  .menu-body {
    position: absolute;
    z-index: 10;
    top: 90px;
    right: -100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(3px);
    transition: all 300ms ease 0s;
    overflow: auto;

    li {
      margin-bottom: 10px;
    }

    li:last-child {
      margin: 0;
    }

    a {
      font-size: 24px;
    }
  }

  .menu__link {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 127%;
    color: white;

    &:hover {
      color: $prime-color;
    }
  }

  .menu__sub-list {
    padding: 15px;
  }
}

@media (max-width: 1051px) {
  header {
    padding: 0 calcFluidSizeWidth(30, 278, 375, 1920); //? 278px - 30px;

    justify-content: space-between;

    .header-logo {
      margin-right: 20px;
    }

    .menu__list {
      display: flex;
    }

    .menu-body {
      width: 100%;
      padding: calcFluidSizeWidth(30, 278, 375, 1920); //? 278px - 30px;

      &._active {
        right: 0;
      }

      .menu__list li,
      .menu-body__list li {
        display: flex;
        align-items: center;
        transition: 0.3s;
      }

      .menu__link {
        flex: 1 1 auto;
        font-size: 24px;

        &:hover {
          color: white;
          text-decoration: underline;
        }
      }

      .menu__list {
        display: block;
        margin-bottom: 10px;

        //! SUB-LIST styles (beginning)
        .menu__sub-list {
          display: none;
          position: relative;
          background-color: white;
          flex: 1 1 100%;
          margin-top: 5px;
          //? отмена hover в компьютерах с маленьким экраном ⬇
          opacity: 1;
          visibility: visible;
          transform: translate(0px, 0px);
          pointer-events: all;
          //? отмена hover в компьютерах с маленьким экраном ⬆

          .menu__sub-link {
            font-size: 20px;
            color: black;
          }

          li:is(:active, :hover) {
            background-color: black;

            .menu__sub-link {
              color: white;
            }
          }
        }

        //! SUB-LIST styles (end)

        & > li._active {
          display: flex;
          flex-wrap: wrap;
          background-color: $prime-color;
          padding: 5px;

          //? действия при клике по стрелке
          .menu__sub-list {
            display: block;
          }

          .menu__arrow {
            transform: rotate(-180deg);

            &:hover {
              border-top: 10px solid black;
            }
          }
        }

        .menu__arrow {
          cursor: pointer;
          display: block;
          width: 0;
          height: 0;
          margin-left: 10px;
          transition: transform 0.3s ease 0s;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 10px solid white;

          &:hover {
            border-top: 10px solid $prime-color;
          }
        }
      }
    }
  }
}

@media (min-width: 1050px) {
  .menu__list {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 62px;

    & > li {
      position: relative;
    }
  }

  .menu-body {
    width: 30%;
    padding: 30px;

    &._active {
      right: 0;
    }

    .menu__list {
      display: none;
    }
  }

  //! SUB-LIST styles (beginning)
  .menu__sub-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    min-width: max-content;

    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    li {
      margin-bottom: 10px;
      padding: 5px;

      &:last-child {
        margin: 0;
      }

      &:hover {
        background-color: $prime-color;
      }

      .menu__sub-link {
        color: white;
      }
    }
  }

  //! SUB-LIST styles (end)
}
